:root{
    --negro-uno:#1B1B1B;
    --negro-dos:#232323;
    --negro-tres:252525;
    --fondo-card:#F3FFFF;
    --celeste:#0A8ECD;
    --blanco:#F5F5F5;
    --color-letra:#ACACAC;
    --titulo:28px;
    --subtitulo:14px;
    --texto:18px;
    --fuente:'Noto Sans JP';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fuente);
    background-color: var(--negro-uno);
}
[id]{
    scroll-margin-top: 6rem;
}
.container-general{
    max-width: 90rem;
    margin: 0 auto;
}
.container-header{
    background-color: var(--negro-dos);
    border-bottom: 4px solid var(--celeste);
    position: sticky;
    top: 0;
}


.container-header header ul li a{
    color:  var(--color-letra);
    text-decoration: none;
    list-style: none;
    padding: 20.3px 2rem;
    font-size: var(--texto);
    font-weight: 500;
}
.container-header header ul li a:hover{
    background-color: var(--negro-uno);
}
.container-header header ul li {
    list-style: none;
}
.container-header header ul{
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
}
.container-header header ul li strong{
    color: var(--color-letra);
    font-size: 1.3rem;
    color: var(--celeste);
    margin-right: 1rem;
}
.container-header header ul li strong:hover{
    color: var(--blanco);
}

.redes-hero{
    position: fixed;
    top: 40%;
    right: 0;
    background-color: var(--blanco);
}
.redes-hero .redes img{
    display: block;
    margin: 1rem .5rem;
    width: 1.5rem;

}


section .container-hero{
    height: 35rem;
    background-image: url(img/img-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
section .container-hero .imagen-hero {
    background-color: rgba(0, 0, 0, 0.693);
    height: 100%;
    color: var(--blanco);
    display: flex;
    width: 100%;
}
section .container-hero .imagen-hero .h1{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
    
    align-items: center;
}
section .container-hero .imagen-hero .h1 .contenedor span,
section .container-hero .imagen-hero .h1 .contenedor h1{
    font-size: 2.5rem;
    margin: .21rem 0;
    text-shadow: 0px 4px 4px rgba(51, 51, 51, 0.81);
    font-weight: 600;

}
section .container-hero .imagen-hero .h1 .contenedor p{
    font-size: 1.2rem;
    margin-top: 1rem;
    text-shadow: 0px 4px 4px rgba(51, 51, 51, 0.81);
    color: var(--blanco);
}



.acerca-de-mi{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.acerca-de-mi .titulo h3, .titulo-proyecto h3{
    margin-top: 2rem;
   color: var(--blanco);
   font-size: var(--titulo);
   text-align: center;
}

hr{
    border: 0;
    height: 3px;
    width: 3rem;
    background-color: var(--celeste);
    margin: 1rem auto;
}
.acerca-de-mi .titulo p{
    color: var(--color-letra);
    margin: 2rem 0;
    font-weight: 200;
}


.container-proyectos{
    background-color: #252525;
    padding-bottom: 3rem;
}
.container-proyectos .proyectos .titulo-proyecto h3{
    padding-top: 1.5rem;
}
.container-proyectos-cards{
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(20rem, 1fr));
    width: 90%;
    margin: 0 auto;
    gap: 4rem;
}
.container-proyectos-cards .card-proyectos{
    
    width: auto;
    
}
.container-proyectos-cards .card-proyectos img{
   width: 100%;
   /* border-left: 5px solid var(--celeste); */
   border-radius: 5px;
   box-shadow: -4px 10px 20px 1px #000000;
}
.container-proyectos-cards .card-proyectos img:hover{
    /* cursor: pointer; */
    transform: scale(1.1);
    transition: transform .6s;
 }
.container-proyectos-cards .card-proyectos div img{
    width: 20px;
    border: none;
 }
 .container-proyectos-cards .card-proyectos h2{
    color: var(--celeste);
    font-size: 1.2rem;
    font-weight: 600;
  
 }
 .container-proyectos-cards .card-proyectos a{
    color: var(--blanco);
    font-size: var(--subtitulo);
    text-decoration: none;
    font-weight: 600;
 }
 .container-proyectos-cards .card-proyectos a:hover{
    color: #025880;
    
 }

.cita{
    padding: 0;
    margin: 0;
    color: #7e7e7e;
    text-align: center;
    font-size: var(--titulo);
    padding-bottom: 2rem;
}
.cita h3{
    font-size: 5rem;
    margin: 0;
    height: 4rem;
}
.correo{
    background-color: var(--negro-dos);
    text-align: center;
    color: #7e7e7e;
    font-weight: 400;
    padding-top: 2rem;
}
footer{
    text-align: center;
    background-color: var(--negro-dos);
    color: var(--blanco);
    font-size: 14px;
    font-weight: 200;

}

@media only screen and (max-width: 650px) {
    


    .container-header header ul li a{
        padding: 20.3px 1rem;
        font-size: 14px;
        font-weight: 400;
    }
    .container-header header ul li strong{
        font-size: 1rem;
    }
    .container-header{
        position: fixed;
        top: 91%;
        height: 4rem;
        width: 100%;
        border-top: 3px solid var(--celeste);
    }
    footer{
        margin-bottom: 4.22rem;
    }
   
    section .container-hero .imagen-hero .h1 .contenedor span,
    section .container-hero .imagen-hero .h1 .contenedor h1{
        font-size: 1.5rem;
        margin: .1rem 0;
       
    }
    section .container-hero .imagen-hero .h1 .contenedor p{
        font-size: 1rem;

    }
    [id]{
        scroll-margin-top: 1rem;
    }
   
    .container-proyectos-cards{
        width: 85%;
        
    }

    .container-proyectos-cards{
   
        grid-template-columns: 1fr;
       
    }
    
}